/* logo slider section start */
.logo-slider {
    width: 100%;
    height: 100px;
    overflow: hidden;
    padding-top: 30px;
    position: relative;
}

.logo-slide {
    display: flex;
    width: max-content;
    /* This allows the content to be as wide as the logos inside */
    animation: slide 45s linear infinite;
}

.logo-slide img {
    height: 50px;
    margin-right: 25px;
}

/* Define the sliding animation */
@keyframes slide {
    0% {
        transform: translateX(0);
        /* Start from the initial position */
    }

    100% {
        transform: translateX(-100%);
        /* Move the container completely out of view */
    }
}

/* logo slider section end */